* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f6f7f8;
    font-family: "Roboto", sans-serif;
   
    
}

.cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    background: url(../assets/bg.png) center ;
    background-size: cover;
    color: #fff;
    

}


.cabecalho p {
    margin-top: 10px;

}

.cabecalho .horario {
    padding: 5px;
    background-color: rgb(62, 172, 62);
    border-radius: 10px;
}

.cabecalho .logo img {
    height: 140px;
    width: 140px;
    margin: 5px;
    border-radius: 50%;
}

.cabecalho .logo img:hover {
    scale: 1.1;
    transition-duration: .3s;
    
}

h2 {
    text-align: center;
    margin: 15px;
}

.menu {
    max-width: 1000px ;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fill, 450px);
    
}

.item-menu {
    display: flex;
    gap: 5px;
    margin: 20px ;
    max-width: 1280px;
}

.item-menu .informacoes-item {
    height: 100%;
}

.item-menu img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    
   
}

.item-menu img:hover {
    scale: 1.1;
    rotate: -2deg;
    transition-duration: .3s;
    
}

.item-menu .nome-h {
    font-weight: bold;
    margin-bottom: 10px;
}

.item-menu .descricao-h {
    font-size: 13px;
    margin-bottom: 00px;
}

.item-menu .ico-car {
    color: #fff;
    background-color: black;
    border-radius: 2px;
    padding: 0px 15px;
}

.item-menu .comprar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    gap: 5px;
}

.item-menu .preço {
    font-weight: bold;
}




.bebidas {
    max-width: 800px ;
    margin: auto;
    display: grid;
    justify-content: center;
    
    grid-template-columns: repeat(auto-fill, 400px);

}

.item-bebidas {
    display: flex;
    gap: 5px;
    margin: 20px 20px 40px 20px ;
    max-width: 1280px;
    
    
}



.item-bebidas .informacoes-item {
    height: 100%;
}

.item-bebidas img {
    height: 100px;
    width: 100px;
    border-radius: 5px;
    
   
}

.item-bebidas img:hover {
    scale: 1.1;
    rotate: -2deg;
    transition-duration: .3s;
    
}

.item-bebidas .nome-h {
    font-weight: bold;
    margin-bottom: 10px;
}

.item-bebidas .descricao-h {
    font-size: 13px;
    margin-bottom: 00px;
}

.item-bebidas .ico-car {
    color: #fff;
    background-color: black;
    border-radius: 2px;
    padding: 0px 15px;
}

.item-bebidas .comprar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    gap: 5px;
}

.item-bebidas .preço {
    font-weight: bold;
}

.titulo-bebidas {
    text-align: left;
}

.menu-bebidas {
    display: flex;
    gap: 5px;
    margin: 10px ;
    max-width: 1280px;
}

.carrinho .btn-cart{
    width: 100%;
    height: 25px;
    background-color: red;
    color: #fff;
    position: fixed;
    bottom: 0;
    z-index: 40;
    font-weight: bold;
    border: 0;
    cursor: pointer;
   
   
    
}

.modal.ativo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.651);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99 ;
    transition: .3s ease;
}


.modal .item-list {
    background-color: #fff;
    min-width: 70%;
    position: fixed;
    border-radius: 7px;
    padding: 20px;
    
}

.modal .cart-itens {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal  .total, .endereco{
    font-weight: bolder;
    
    
    
}

.modal .total {
    margin-bottom: 20px;
}

.modal input {
    width: 100%;
    padding: 5px;
    margin: 5px 0px 0px 0px;
}

.modal .address-warn {
    display: none;
    font-weight: normal;
    font-size: 13px;
    color: red;
}

.modal .btns-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 ;
}

.modal .btns-cart .close-btn-cart {
    
    color: #000000;
    padding: 5px 20px;
    border: 0;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}

.modal .btns-cart .close-btn-cart:hover {
    text-decoration: underline;
}



.modal .btns-cart .check-btn {
    background-color: rgb(0, 202, 0);
    color: #f6f7f8;
    padding: 5px 20px;
    border: 1px solid rgba(0, 0, 0, 0.411);
    border-radius: 5px;
    cursor: pointer;

}

.modal .btns-cart .check-btn:hover {
    background-color: rgb(0, 199, 0);
    scale: 1.1;
    transition: .3s;
}

.add-to-cart-btn {
    cursor: pointer;
}



.item-adicionado {
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  


}

.item-adicionado button {
    border: 0;
    background-color: #fff;
    cursor: pointer;
}

.item-preço {
    font-weight: normal;
    margin-top: 10px;
}




